AIR.WinForm/Service References/ReservationServiceRef/AirIntelReservationService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIR.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIR.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/AirIntelReservationService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="APIResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessages" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Results" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIResult" nillable="true" type="tns:APIResult" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
      <xs:element minOccurs="0" name="FlightId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFare" type="xs:float" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aircraft" nillable="true" type="tns:Aircraft" />
      <xs:element minOccurs="0" name="AircraftId" type="xs:int" />
      <xs:element minOccurs="0" name="Arrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BusinessFare" type="xs:float" />
      <xs:element minOccurs="0" name="Departure" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EconomyFare" type="xs:float" />
      <xs:element minOccurs="0" name="FirstFare" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Aircraft">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessSeats" type="xs:int" />
      <xs:element minOccurs="0" name="EconomySeats" type="xs:int" />
      <xs:element minOccurs="0" name="FirstClassSeats" type="xs:int" />
      <xs:element minOccurs="0" name="FusalageWidth" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aircraft" nillable="true" type="tns:Aircraft" />
  <xs:complexType name="ArrayOfAircraft">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aircraft" nillable="true" type="tns:Aircraft" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAircraft" nillable="true" type="tns:ArrayOfAircraft" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
</xs:schema>